<div>
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a routerLink="/body"><li>Home</li></a>
        <a routerLink="/about"><li>About</li></a>
        <a routerLink="products"><li>Products</li></a>
        <a routerLink="contact"><li>Contact</li></a>
      </ul>
    </div>
  </nav>
  <div id="Main">
    <a style="font-size: 18px" routerLink="/" id="middlemain"><img src="assets/273052974_129019426297777_5040424259709132565_n.jpg" id="mainimg"></a>
  </div>
  <div id="Login">
    <img src="assets/user-regular.ico" id="userIcon">
    <a routerLink="login" id="loginBtn">Login</a>
  </div>
</div>
