
<div id="contact">
  <h2 style="padding: 10px;margin-top: 10px">Contacteaza-ne</h2>
  <form id="contactForm">
    <input type="text" id="name" name="name" placeholder="Numele" required><br>
    <input type="email" id="email" name="email" placeholder="Email" required><br>
    <textarea id="message" name="message" placeholder="Mesajul dumneavoastra..." required></textarea><br>
    <button type="submit" id="sendBtn">Send</button>
  </form>
</div>
<div id="info">
  <h2>Alte informatii de contact</h2>
  <ul>
    <li>Telefon:  0744 578 588</li>
    <li>Orele:</li>
    <li>Luni - Vineri: 9:00 - 21:00 </li>
  </ul>
</div>
